"on":
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Release

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create GitHub release from tag commit message
        uses: eloquent/github-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
